.App {
  text-align: center;
  display: inline-block;
  vertical-align:top;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#dividor_h1{
  text-align: center;
  color: white;
  font-size: 64px;
  margin-bottom: 5%;
  margin-top: 1%;
}
#calendar_container{
  width: 60%;
  background-color: white;
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 40px;
  display: inline-block;
  vertical-align:top;
}
#todayfocus_container{
  width: 30%;
  display: inline-block;
}


#things_done_container{
  height: 100%;
}
